:root {
	// Base
	--white: #ffffff;
	--black: #000000;

	--super-light-gray: hsl(240, 11%, 94%);
	--light-gray: hsl(240, 11%, 80%);
	--medium-gray: hsl(240, 11%, 50%);
	--dark-gray: hsl(240, 11%, 35%);

	--green: #314521;
	--light-green: #8b9773;
	--dark-green: #1e2b13;
	--light-pink: #fce6ef;
	--pink: #f5adcc;
	--cream: #f7f3dc;
	--lavender: #bab8d8;
	--light-lavender: #e1dff1;
	--yellow: #fff1a2;
	--purple: #492e72;
	--red: #d23652;
}
