.cta-link {
	padding: 0.5rem 1.5rem;
	box-sizing: border-box;
	border: 2px solid var(--purple);
	background-color: var(--purple);
	color: var(--white);
	border-radius: 0.5rem;
	display: inline-block;
	text-decoration: none;
	cursor: pointer !important;
	&:hover {
		border: 2px solid var(--green);
		background-color: var(--green);
		color: var(--white);
	}
}
